.page-row: .header
  .nav-outer
    .wrapper
      .navbar#menu
        a(href='/').logo: img(src='/img/logo-mama.png')
        a(href='#menu').menu-btn.open: img(src='/img/menu-btn.png')
        a(href='#').menu-btn.close: img(src='/img/menu-btn-open.png')
        .menu-list
          a(href='/')
            span.home-text Home
            img(src='/img/home-icon.png').home-icon
          for category, i in navbar_features
            a(href="#{category_path}/#{slugify(category.title)}.html"
              class="#{i + 1 === navbar_features.length ? 'last' : ''}")= category.title
  .langs
    .wrapper
      for locale in locales
        a(href="/lang/#{slugify(locale.isocode)}" class="#{locale.locale === current_locale ? 'active' : ''}")= locale.language
