extends layout

block content

  //- set category a list of articles in ascending order
  - item.pages = [];
  - collections.Page.forEach(function(page) {
  -   if (item.uuid === page.primary_category) {
  -     item.pages.push(page);
  -   }
  - });
  - item.pages = item.pages.sort(function(a, b) {
  -   return a.position - b.position;
  - });

  h1= item.title

  for page in item.pages
    a(href="/#{page.slug}")
      h2= page.title
      h3= page.description
      h4= moment(new Date(page.created_at)).format('Do MMMM YYYY')
